@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth !important;
}

body {
  background-color: white;
  background-image: url(../../public/assets/paperbg.jpg);
  background-size: auto;
}
