@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: white;
		background-image: url(../../public/assets/paperbg.jpg);
		background-size: auto;
	}

	input[type="text"],
	input[type="date"],
	textarea {
		color: #5065a8;
		font-weight: bold;
	}

	input[type="email"] {
		font-weight: bold;
	}
}
