@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-color: white;
		background-image: url(../../public/assets/paperbg.png);
		background-size: auto;
		background-repeat: repeat;
	}

	input,
	textarea {
		border: 2px solid #5065a8;
	}

	input[type="text"],
	input[type="date"],
	textarea {
		color: #5065a8;
		font-weight: bold;
	}

	input[type="email"] {
		font-weight: bold;
	}
}
